*{
    box-sizing: border-box;
}

*::selection{
    color: hsl(200, 98%, 55%);
    background-color: hsl(0, 0%, 0%);
}

:root{
    --bg: #CCCCFF;
    --panel: #102A43;
    --panel-2: #1B4965;
    --accent: #1b4965a2;    
    --text-on-dark: #FFFFFF; 
    --text-on-light: #1F2933;
    --muted: #E6EEF3;        
    --shadow: rgba(16, 42, 67, 0.45);
    --shadow-lg: rgba(16,42,67,0.55);
    --shadow-inset: rgba(27,73,101,0.25);
}

body{
    background-color: var(--bg);
    margin: 0px;
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 550;
}

#h1::first-letter{
    font-style:italic;
    font-size: 40px;
}

header{
    text-align: left;
    text-shadow: -2px -2px 4px hsl(0, 0%, 59%), 4px 4px 6px rgba(0, 0, 0, 0.6);
    color: var(--text-on-dark);
    margin-top: 50px;
    background-color: var(--panel-2);
    padding: 1em 0px 1em 100px;
    border-bottom: 8px solid var(--panel);
    border-top: 8px solid var(--panel-2);
    box-shadow: 2px -1px 20px var(--shadow-lg), 0px 30px 20px inset var(--shadow-inset), -0px -30px 20px inset var(--shadow-inset);
    display: block;
    width: 100%;
}
main{
    background-color: #CCCCFF;
}

.h{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*--------------------------------------------------------------------------------*/

.container1{
    display: flex;
    margin: 100px 300px 100px 200px;
    min-height: 100px;
    min-width: 500px;   
}
.container1 > a {
    align-self: flex-end;
    display: block;
}

.container1>*:hover:not(:last-child){    
    transform: scale(1.05);
    transition: transform 0.2s;
}

.introduction{
    border-width: 5px 0px 0px 7px;
    border-style: solid;
    border-color: var(--panel-2);
    color: white;
    border-radius: 10px;

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35), 10px 10px 20px inset var(--shadow-inset), 0px -10px 20px inset var(--shadow-inset);
    background-color: var(--panel-2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px rgba(255, 255, 255, 0.07);
    padding: 20px;
    
    height: 385px;
    width: 900px;
    min-height: 385px;
    min-width: 900px;

    overflow-wrap: break-word;
}

.cat{
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: var(--panel-2);
    border-radius: 20px;
    box-shadow: 10px 10px 20px var(--shadow);
    
    height: 200px;
    max-height: 200px;
    width: auto;
    max-width: 240px;
    margin-left: 40px;
    min-width: 0;
    align-self: flex-end;
}

/*--------------------------------------------------------------------------------*/

.box{
    background-color: var(--panel);
    width: 1360px;

    border-right: 10px none;
    border-top-right-radius: 20px;

    box-shadow: 20px 10px 20px var(--shadow-lg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px rgba(255, 255, 255, 0.07);
    color: var(--text-on-dark);
}

#container2h{
    text-align: center;
    align-self: flex-start;
    flex-basis: 100%;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


    box-shadow: 0px 10px 20px inset var(--shadow-inset);
    border-top: 10px solid var(--panel-2);
    border-top-right-radius: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px rgba(255, 255, 255, 0.07);
    padding-right: 50px;
    padding-bottom: 30px;
}

.container2>*:not(:first-child){
    width: 30%;
}

.container2>*:hover:not(:first-child){    
    transform: scale(1.05);
    transition: transform 0.2s;
    background-color: var(--panel-2);
    border-radius: 25px;
    padding: 10px;
}


.Kompetenzenliste li{
    margin: 20px;
}

#git:hover{
    font-size: 1em;
}

#git:active{
    color: rgb(92, 234, 92);
}

#git{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px rgba(255, 255, 255, 0.07);
    color: var(--text-on-dark);
    background-color: var(--accent);
    border-radius: 20px;
    font-size: 14px;
    margin-left: 0px;
    border-width: 5px;
    border-color: var(--panel-2);
    margin-left: 150px;
}


.container3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end;

    border-top: 5px dashed rgb(93, 64, 152);
    padding-top: 20px;
    padding-bottom: 50px;
}


.container3>*:hover:not(:first-child){    
    transform: scale(1.05);
    transition: transform 0.2s;
    background-color:  var(--panel-2);
    border-radius: 25px;
    padding: 10px;
}

#container3h{
    text-align: center;
    align-self: flex-start;
    flex-basis: 100%;
}

.Abschluss li{
    margin-bottom: 20px;
}

.container4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-end;

    padding-top: 20px;
    padding-bottom: 100px;
    border-top: 5px dashed rgb(93, 64, 152);
    box-shadow: 0px -30px 20px inset var(--shadow-inset);
}

.container4 :hover.praktischeerf{    
    transform: scale(1.05);
    transition: transform 0.2s;
    background-color:  var(--panel-2);
    border-radius: 25px;
    padding: 10px;
}

#container4h{
    text-align: center;
    align-self: flex-start;
    flex-basis: 100%;
}

.whcare{
    border: 6px solid var(--panel-2);
    box-shadow: 2px 2px 10px var(--shadow);
    height: 100px;
    margin-right: 300px;
    align-self: center;
}

.container4 .praktischeerf{  
    width: 25%;
    margin-left: 500px;
    padding-top: 20px;
}

/*--------------------------------------------------------------------------------*/

.con:hover{
    font-size: 110%;
}

.con:active{
    color: rgb(92, 234, 92);
}

.con{
    font-size: 16px; 
    background-color: var(--panel-2); 
    color: var(--text-on-dark); 
    border-radius: 15px;
    border-width: 5px;
}

footer a{
    text-decoration: none;
    margin-right: 10px;
}


footer{
    text-align: center;
    box-shadow: 0px -10px 4px var(--shadow);
    background-color: var(--panel);
    color: var(--text-on-dark);
    padding: 5px 0px 20px 100px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

@media (max-width: 700px) {
    .cat{
        height: 140px;
        max-height: 140px;
        max-width: 200px;
        margin-left: 0;
        display: block;
        margin: 18px auto;
    }
}




