
body{
    background-color: #CCCCFF;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 550;
}
header{
    text-align: left;
    text-shadow: -2px -2px 4px hsl(0, 0%, 59%), 4px 4px 6px rgba(0, 0, 0, 0.6);
    color: white;
    margin: 50px 0px 0px 0px;
    background-color: #4b0082;
    padding: 1em 0px 1em 100px;
    border-bottom: 8px solid rgb(43, 15, 98);
    border-top: 8px solid rgb(80, 45, 150);
    box-shadow: 2px -1px 20px rgb(123, 90, 188), 0px 30px 20px inset rgb(80, 45, 150), -0px -30px 20px inset rgb(43, 15, 98)
 

}
main{
    background-color: #CCCCFF;
}

.h{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.flex1{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.textflex1{
    border-width: 5px 0px 0px 7px;
    border-style: solid;
    border-color: #b041b0;
    color: white;
    border-radius: 10px;

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5), 10px 10px 20px inset #b847b8, 0px -10px 20px inset #481448;
    background-color: #800080;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px rgba(255, 255, 255, 0.07);
    padding: 20px;
    
    margin-right: 100px;
    margin-bottom: 70px;
}

.imgflex1{
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #b041b0;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(40, 20, 81);
    
    height: 355px;
    width: auto;
    margin-right: 100px;

    

}

.box{
    background-color: #00008B;
    margin-right: 480px;
    border-right: 10px none;
    border-top-right-radius: 20px;

    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px rgba(255, 255, 255, 0.07);
    color: white;
}

.box1{
    justify-content: space-between;
    display: flex;
    box-shadow: 0px 10px 20px inset rgb(111, 63, 207);
    border-top: 10px solid rgb(102, 55, 198);
    border-top-right-radius: 20px;

    padding-right: 150px;
    padding-bottom: 70px;
    padding-left: 100px;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px rgba(255, 255, 255, 0.07);
    color: white;
}


.textflexbox22{
    padding-top: 50px;
}

.textflexbox222{
    padding-top: 50px;
}

#git{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px rgba(255, 255, 255, 0.07);
    color:white;
    background-color: rgb(94, 74, 168);
    border-radius: 20px;
    font-size: 14px;
    margin-left: 0px;
    border-width: 5px;
    border-color: rgb(110, 62, 206);
}


.box2{
    justify-content: space-between;
    display: flex;
    padding-bottom: 100px;

    border-top: 5px dashed rgb(93, 64, 152);
    box-shadow: 0px -30px 20px inset rgb(44, 15, 102);
}

.textflexbox3{
    padding-left: 100px;
    padding-right: 30px;
}


.img2{
    margin-top: 40px;
    padding-left: 0px;
    border: 6px solid rgb(110, 62, 206);
    box-shadow: 2px 2px 10px rgb(40, 20, 81);
    height: 75px;
}

.con{
    font-size: 16px; 
    background-color: hsl(0, 0%, 100%); 
    color: black; 
    border-radius: 15px;
}



footer{
    box-shadow: 0px -10px 4px rgb(26, 25, 25);
    background-color: rgb(26, 25, 25);
    color: rgb(255, 255, 255);
    padding: 1em 0px 1em 100px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 150px;
}